

.glint-container {
  position: relative;
  display: inline-block;
  width: 200px;
  height: auto;

  /* маска для всього контейнера — і glint, і блиск */
  mask-image: url('../CompassImages/0.png');
  mask-repeat: no-repeat;
  mask-size: cover;
  mask-position: center;

  -webkit-mask-image: url('../CompassImages/0.png');
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: cover;
  -webkit-mask-position: center;
}


.base-image {
  display: block;
  width: 100%;
}


.glint-overlay {
  z-index: 2;
}
.base-image {
  z-index: 1;
  position: relative;
}


.glint-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; 
  height: 100%;

  background-image: url('../CompassImages/X9K1aiE.png');
  background-repeat: repeat;
  background-size: 50px 50px;

  mix-blend-mode: screen;
  pointer-events: none;

  background-size: 1600px;
  mask-image: url('../CompassImages/0.png');
  mask-repeat: no-repeat;
  mask-size: cover;
  mask-position: center;
  -webkit-mask-image: url('../CompassImages/0.png');
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: cover;
  -webkit-mask-position: center;

  animation: bg-move 6s linear infinite;
}

/* Новий клас для блиску */
.shimmer {
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  pointer-events: none;
  
  background: linear-gradient(
    45deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.4) 50%,
    rgba(255, 255, 255, 0) 100%
  );

  z-index: 10;
  filter: blur(5px);
  opacity: 0.4;
  animation: shimmer-move 3s linear infinite;
}

@keyframes bg-move {
  from {
    background-position: 0px 1600px;
  }
  to {
    background-position: 1600px 0px;
  }
}

@keyframes shimmer-move {
  0% {
    transform: translate(-100%, -100%) rotate(20deg);
  }
  100% {
    transform: translate(100%, 100%) rotate(20deg);
  }
}
